/* ---------------------------------
# CSS Reset
----------------------------------------------- */

html {
    color: #000000;
    background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea ,select {
    *font-size: 100%;
}
*:focus {
    outline: none;
}

/* ---------------------------------
# General
----------------------------------------------- */

@font-face {
    font-family: Unica;
    src: url("UnicaOne-Regular.ttf");
}
@font-face {
    font-family: Font_3;
    src: url("font_3.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: Unica;
    font-size: 14px;
    word-spacing: 0.1em;
    background-color: #111111;
    color: #FFFFFF;
    background: url('assets/backgrounds/bg.png') no-repeat;
    background-size: 100% 100%;
    /* cursor: url("cursor.png"), auto; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}